<!-- Toolbar -->
<body>
  <div class="toolbar border-bottom" role="banner">
    <div><span class="logo-stock">Stock</span><span class="logo-X">X</span></div><i class="fa fa-chart-line"></i>
      <div class="spacer"></div>
      <a class="header-link" aria-label="Stock Tracker" routerLink="/stock-tracker" title="Stock Information Tracker"> STOCKS </a>
      <a class="header-link" aria-label="Market Index" routerLink="/market-index" title="Market Index Information Tracker"> MARKET INDEXES </a>
      <a class="header-link" aria-label="Currency Tracker" routerLink="/currency-tracker" title="Global Currency Information Tracker"> CURRENCY </a>
      <a class="header-link" aria-label="Industry Listings" routerLink="/industry-listings" title="Industry Stock Categorization"> INDUSTRY LISTINGS </a>
  </div>
  <router-outlet></router-outlet>
</body>
